  <div class="col-md-6">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Most recent tweets with
          <% if query.include?("%23") %>
            <%= query.gsub(/[%23+]/, "%" => "#", "23" => "", "+" => " ") %>
          <% else %>
            <%= query.gsub(/[%23#+]/, "%23#" => "", "+" => " ") %>    
          <% end %>
        </h3>
      </div>  
        <div class="panel-body">
          <% tweets["statuses"].each do |tweet| %>
            <br>
            <%= tweet["text"] %>
            <br>
            tweeted by: <%= tweet["user"]["name"] %> (<%= tweet["user"]["screen_name"] %>)
            <br>
              <% if tweet["entities"]["media"].present? %>
              <%= image_tag tweet["entities"]["media"][0]["media_url"], size: "300x216" %>
              <% end %><br>
          <% end %>
       
        </div>  
    </div>        
  </div>
<!-- 
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="..." alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Media heading</h4>
      ...
    </div>
  </div> -->