  <div class="col-md-8">
    <div class="panel panel-success">

      <div class="panel-heading">
        <h3 class="panel-title">Most recent tweets with
          <% if query.include?("%23") %>
            <%= query.gsub(/[%23+]/, "%" => "#", "23" => "", "+" => " ") %>
          <% else %>
            <%= query.gsub(/[%23#+]/, "%23#" => "", "+" => " ") %>    
          <% end %>
        </h3>
      </div>  

        <div class="panel-body">
          <% tweets["statuses"].each do |tweet| %>

          <div class="media">

            <div class="media-left">
              <% if tweet["entities"]["media"].present? %>
                <%= image_tag tweet["entities"]["media"][0]["media_url"], size: "150x108", class: "media-object" %>
              <% end %>
            </div> 

            <div class="media-body">
              <div class="media heading">
                <h4><%= tweet["text"] %></h4>
              </div>
              <div class="text-warning text-right">
                <em>tweeted by: <%= tweet["user"]["name"] %> (<%= tweet["user"]["screen_name"] %>)</em>
              </div>  
            </div>  

          </div> 
          
          <% end %>  
        </div> 

    </div>        
  </div>

